:root {
  --red: #c5004a;
  --darkred: #7f0036;
  --lightgray: #e0e0e0;
  --gray: #c0c0c0;
  --darkgray: #333;
  --navy: #17050f;
  --blue: #082840;
  --white: #fff;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img {
  width: 100%;
  height: auto;
}
img + p {
  color: gray
}
p,
.tmpl-post li {
  line-height: 1.45;
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}
main {
  min-height: calc(100% - (82px + 88px));
  width: 100%;
}
header {
  display: flex;
  justify-content: center;
  color: #f6505d;
  text-transform: uppercase;
  margin-top: 2rem;
}
.header-box {
  background: rgba(255, 255, 255);
  border-radius: 25px;
  padding: 0 1.5rem 0 1.5rem;
}
header:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  display: flex;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  background-color: #f6f6f6;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, 0.8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}
.tmpl-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tags */
.post-tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: #fff;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

@keyframes hi {
  0%,
  80% {
    transform: rotate(0deg) translate(0, 0);
  }
  85% {
    transform: rotate(24deg) translate(0.33333vw, -0.25vw);
  }
  90% {
    transform: rotate(0deg) translate(0, 0);
  }
  95% {
    transform: rotate(24deg) translate(0.33333vw, -0.25vw);
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}

@keyframes fade {
  0%,
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro {
  0%,
  75% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

.center-box {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.center {
  min-height: calc(100% - 10rem);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 2rem 6rem 2rem;
  padding: 1rem 1rem;
  background-color: white;
  border-radius: 20px;
  max-width: 700px;
}

.center-post {
  min-height: calc(100% - 10rem);
  margin: 0 2rem 0 2rem;
  padding: 1rem 1rem;
  background-color: white;
  border-radius: 20px;
  max-width: 700px;
  min-width: 300px;
}

.name-box {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.name {
  padding: 1rem 1.5rem 1.2rem 1.5rem;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  max-width: 19rem;
  font-size: 25px;
  animation: intro 1.5s cubic-bezier(0.5, 0, 0.25, 1.1) -1s 1;
}

.job-description {
  font-size: 18px;
}

.wave {
  font-size: 24px;
  animation: hi 2.5s linear -0.8s infinite;
}

.social-box {
  display: flex;
  justify-content: center;
  width: 100%;
  animation: fade 1s ease-out 0s;
}

.social-media {
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1.5rem;
  background: rgba(255, 255, 255);
  border-radius: 20px;
}

.social-media img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.social-media a {
  text-decoration: none;
  max-height: 2rem;
  max-width: 2rem;
}

.social-media a:not(:first-child) {
  margin-left: 0.6rem;
}

.photo-caption {
  width: 100%;
  text-align: center;
  margin-top: -15px;
  color: var(--gray);
}
