.container-intro {
  background-image: url('img/ruby_pattern.png');
  background-repeat: repeat;
}

.p-icons {
  margin-bottom: 25px;
}

#web-developer-title {
  background: url('img/card_cover_box.jpg') center / cover;
  color: white;
}

.jumbotron {
  text-align: center;

  border-top: .05rem solid #e5e5e5;
  border-bottom: .05rem solid #e5e5e5;

  margin-top: 2rem;
}

.social {
  text-align: center;
}
