.intro-container {
  background-image: url("img/ruby_pattern.png");
  background-repeat: repeat;
}

.p-icons {
  margin-bottom: 25px;
}

.demo-card-wide.mdl-card {
  width: 512px;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

#web-developer-title {
  background: url('img/card_cover_box.jpg') center / cover;
  color: white;
}

.mdl-list__item {
  padding: 0px !important;
}

.mdl-list {
  margin: 0px;
  padding: 0px !important;
}
