---
layout: layouts/base.njk
templateClass: tmpl-home
headerClass: home-header
---

<div class="name-box">
  <div class="name">
    <div class="hands">
      <div class="wave">
      👋
      </div>
    </div>
    NIKOLA ĐUZA
    <div class="job-description">
      Software Engineer at <a href="https://www.toptal.com/resume/nikola-duza#utilize-just-top-notch-software-coders">Toptal</a>
    </div>
  </div>
</div>

