---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="center-box">
  <div class="center-post">
    <h1>{{ title }}</h1>

    {{ content | safe }}

    <p><a href="{{ '/' | url }}">← Home</a></p>
  </div>
</div>
